<div id="subcomponente-numero-de-clientes" class="col-sm-4">
	<div id="elemento1-titulo-clientes">
		<b>Número de clientes</b>
	</div>

	<div id="elemento2-numero-clientes">
		<label><span id="numero-personas" name="N_numero-personas">1
			</span> Persona(s)</label>
		<div id="subelemento-iconos-de-suma-resta">
			<!--Icono Resta-->
			<img id="icono-resta-clientes" class="claseIconoDeSumaYResta resta"
				src="../../../static/icons/substract-circle-red.svg">
			<!--Icono Suma-->
			<img id="icono-suma-clientes" class="claseIconoDeSumaYResta suma"
				src="../../../static/icons/plus-circle-green.svg">
		</div>
	</div>
</div>