<section id="segunda-pantalla">
    <!-- TITULO-NUMERO DE PERSONAS- FECHA- E ICONOS -->
    <div id="componente-titulo-e-iconos-pantalla-2">
        <div id="elemento1-titulo-pantalla2">
            <h1>Registro Citas</h1>
        </div>

        <div id="elemento2-numero-de-personas-y-fecha-pantalla-2">
            <div id="subelemento1-numero-clientes">
                <label><span id="numero-personas-pantalla-2" name="N_numero-personas">1
                    </span> Persona(s)</label>
                <div id="subelemento1-1-iconos-de-suma-resta">
                    <img id="icono-resta-clientes" class="claseIconoDeSumaYResta resta"
                        src="../../../static/icons/substract-circle-red.svg">
                    <img id="icono-suma-clientes" class="claseIconoDeSumaYResta suma"
                        src="../../../static/icons/plus-circle-green.svg">
                </div>
            </div>
        </div>

        <div id="elemento3-fecha-clientes">
            <input type="date" id="fecha-clientes-pantalla-2" class="form-control C_estilosInputsClientes C_BorderBase"
                name="N_fecha">
        </div>

        <div id="elemento4-iconos-home-menu-back">
            <img id="elemento-icono-home2" class="elementos-tamanos-iconos" src="../../../../static/icons/home.svg">
            <img id="elemento-icono-menu2" class="elementos-tamanos-iconos" src="../../../../static/icons/menu2.svg">
            <img id="elemento-icono-back3" class="elementos-tamanos-iconos" src="../../../../static/icons/back.svg">
        </div>
    </div>

    <!-- CONTENIDO-HORARIOS-Y-BARBEROS -->
    <div id="componente-barberos-y-horarios">

        <div id="subcomponente1-subtitulo">
            <p>Barberos y horarios</p>
        </div>

        <div id="subcomponente2-contenido-de-horarios-y-barberos"> <!--Contenedor principal de barberos-->
            <div class="col-sm-barberosHorarios-laterales"></div> <!--Espacio vacio-->

            <div id="elemento1-informacion-barbero" class="col-sm-barberosHorarios-centro"> <!--Centro-->
                <!--Contenedor individual de barbero-se insertan los valores dinámicamente -->
            </div>

            <!--Icono de brocha-->
            <div id="subcomponente3-brocha" class="col-sm-barberosHorarios-laterales">
                <!-- <img id="icono-brocha-pantalla-2" src="../../../static/icons/brushWhite.svg"> -->
            </div>
        </div>
    </div>

    <!-- BOTON DE ACEPTAR -->
    <div id="componenente-boton-aceptar-pantalla-2" class="">
        <button id="boton-de-aceptar-barberos-y-citas" class="btn btn-success" disabled>Aceptar</button>
    </div>


</section>